<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<title><%= product.productName %></title>
</head>
<body>
  <div id="main" class="w-full relative h-screen bg-zinc-100">
    <div id="nav" class="w-full flex items-center justify-between  h-[13vh] border-2 border-b-zinc-700 py-4 px-10 pb-5">
        <div class="flex items-center gap-2 hover:text-zinc-400">
            <a href="/home"><i class="ri-arrow-left-circle-line text-4xl"></i></a>
            <h3 class="text-2xl text-black font-semibold">Product Description.</h3>
        </div>
        <div class="px-3 flex gap-20 text-black font-semibold">
            <div class="flex gap-5">
                <a href="/home">Products</a>
            </div>
        </div>
    </div>

    <div id="item-details" class="w-full flex flex-wrap gap-5 px-10 py-8 h-[87vh]">
        <div id="item-photo" class="w-[30vw] h-[65vh] rounded-sm overflow-hidden">
            <div id="top-part" class="w-full h-[70%] bg-[<%= product.bgColor %>] p-20">
                <img src="data:image/png;base64,<%= product.productImage.toString('base64') %>" class="w-full h-full object-contain" alt="">
            </div>
            <!-- <div id="bottom-part-1" class="w-full flex items-center justify-between px-8 h-[15%] bg-[<%= product.panelColor %>]">
                <h2 class="font-semibold text-xl text-[<%= product.textColor %>]"><%= product.productName %></h2>
                <div class="flex items-center gap-1" id="buttons">
                    <div class="w-7 h-7 bg-white rounded-full flex justify-center items-center"><i class="ri-add-line text-xl font-light hover:font-bold"></i></div>
                    <div class="w-8 h-8 bg-white flex justify-center items-center rounded-md font-semibold text-sm">1</div>
                    <div class="w-7 h-7 bg-white rounded-full flex justify-center items-center"><i class="ri-subtract-fill hover:font-bold text-xl"></i></div>
                </div>
            </div> -->
            <div id="bottom-part-2" class="w-full flex items-center justify-between px-8 h-[15%] bg-[<%= product.panelColor %>]">
                <h2 class="font-semibold text-lg text-[<%= product.textColor %>]">Net Total</h2>
                <h2 class="font-semibold text-xl">&#8377 <%= product.productPrice %></h2>
            </div>
        </div>
        <div id="item-pricing" class="w-[60vw]">
            <h2 class="leading-4 font-semibold text-xl">Price Breakdown</h2>
            <div id="price-breakdown" class="py-6 px-3 flex gap-20">
                <div id="price-category" class="flex flex-col gap-3">
                    <h3 class="font-semibold text-md">Total MRP</h3>
                    <h3 class="font-semibold text-md">Discount on MRP</h3>
                    <h3 class="font-semibold text-md">Platform Fee</h3>
                    <h3 class="font-semibold text-md">Shipping Fee</h3>
                </div>
                <div id="price" class="flex flex-col gap-3">
                    <h3 class="font-semibold text-md">&#8377 <%= product.productPrice %></h3>
                    <h3 class="font-semibold text-md">&#8377 <%= product.discountPrice?product.discoutPrice:0%></h3>
                    <h3 class="font-semibold text-md">&#8377 10</h3>
                    <h3 class="font-semibold text-md">FREE</h3>
                </div>
            </div>
            <hr class="border-[1px] border-zinc-300">
            <div class="flex gap-20 py-6 font-semibold text-xl">
                <h2>Total Amount</h2>
                <h2 class="text-green-500">&#8377 <%= product.productPrice+10-(product.discountPrice?product.discoutPrice:0) %></h2>
            </div>
            <!-- //payment route -->
            <a href="#" class="px-6 py-3 hover:bg-zinc-800 bg-black font-semibold text-white rounded-md">Buy Now</a>
        </div>

    </div>

    
  </div>
</body>
</html>